@import "/scss/base/variables.css";
@import "/scss/components/homebutton.css";
@import "/scss/base/typography.css";
@import "/scss/layouts/header.css";
@import "../layouts/footer.css";



section {
    
    .blog {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 50px;

        

        p {
            font-style: italic;
            text-align: justify;
            text-indent: 30px;
            margin: 50px;

        }
        // adjust margin for small or phone screen

        @media screen and (max-width: 400px) {
            
            p{
             margin: 10px;
            } 
         }

        

        img {
            width: 100%;
            font-family: var(--font-family);
            color: var(--primary-font-color);
            max-width: 75vh;
            margin-top: 30px;
        }

        

        .blog1 {

            font-family: var(--font-family);
            color: var(--primary-font-color);
            background: var(--tertiary-background-color);
            margin-bottom: 50px;
            border-radius: 10px;
            margin-top: 50px;
            text-align: center;

            

            

           
        }

        .blog2 {
            
            font-family: var(--font-family);
            color: var(--primary-font-color);
            background: var(--tertiary-background-color);
            margin-bottom: 50px;
            border-radius: 10px;
            margin-top: 50px;
            text-align: center;
        }

        .blog3 {
            
            font-family: var(--font-family);
            color: var(--primary-font-color);
            background: var(--tertiary-background-color);
            margin-bottom: 50px;
            border-radius: 10px;
            margin-top: 50px;
            text-align: center;
        }

        .blog4 {

            font-family: var(--font-family);
            color: var(--primary-font-color);
            background: var(--tertiary-background-color);
            margin-bottom: 50px;
            border-radius: 10px;
            margin-top: 50px;
            text-align: center;
            

        }

        .blog5 {

            font-family: var(--font-family);
            color: var(--primary-font-color);
            background: var(--tertiary-background-color);
            margin-bottom: 50px;
            border-radius: 10px;
            margin-top: 50px;
            text-align: center;
        }





    }
}