@import "../base/variables.css";
@import "../components/homebutton.css";
@import "../base/typography.css";
@import "../layouts/header.css";
@import "../layouts/footer.css";



section {

    // contact and submit details page component.
    
    .container {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        text-align: center;
        margin: 50px;

        .name {

            font-family: var(--font-family);
            color: var(--primary-font-color);
            margin-top: 50px;

        }

        .email {

            font-family: var(--font-family);    
            color: var(--primary-font-color);
            margin-top: 50px;

        }

        .message {
            
            font-family: var(--font-family);
            color: var(--primary-font-color);
            margin-top: 30px;

        }
        
        // adjust form with increased space for mobile/phone display
        @media screen and (max-width:400px) {

            .message {
                display: block;
            }

            #message {
                padding: 50px;
            }
            
        }

        
        .submit {
            font-family: var(--font-family);
            color: var(--primary-font-color);
            margin-top: 30px;
        }
    }



     

    
    
   
}

