@import "/scss/base/variables.css";
@import "/scss/components/homebutton.css";
@import "/scss/base/typography.css";
@import "/scss/layouts/header.css";
@import "../layouts/footer.css";




section {

    
    // title and paragraph styles
    .work {
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 50px;
        
        p {
            margin: 50px;
            text-align: justify;
            text-indent: 30px;
            
            
        }
// adjust margin for small or phone screen

        @media screen and (max-width: 430px) {
            
            p{
             margin: 10px;
            } 
         }

    //    styles for each content

        

        .work1 {

            font-family: var(--font-family);
            color: var(--primary-font-color);
            background: var(--tertiary-background-color);
            margin-bottom: 50px;
            border-radius: 10px;
            margin-top: 50px;
            text-align: center;
            



        }
        .work2 {

            font-family: var(--font-family);
            color: var(--primary-font-color);
            background: var(--tertiary-background-color);
            margin-bottom: 50px;
            border-radius: 10px;
            margin-top: 50px;
            text-align: center;

        }

        
        
    }


    // resume section with style and button


    .resume {

        
        
        
        

        h2 {
            font-family: var(--font-family);
            color: var(--primary-font-color);
            background: var(--secondary-background-color);
            margin: auto;
            padding: 50px;
            text-align: center;
            margin-top: 50px;
            border-radius: 20px;
            max-width: 300px;
           

        }

        p {

            font-family: var(--font-family);
            color: var(--primary-font-color);
            text-indent: 20px;
            text-align: center;
            margin: 50px;
        }

        button {
            
            display: flex;
            text-decoration: none;
            align-items: center;
            padding: 30px;
            border-radius: 20px;
            margin: auto;
            cursor: pointer;
            transition: 5s;
            margin-bottom: 30px;
            

        }
        
        a {
            text-decoration: none;
        }

        button:hover {
            background-color: var(--tertiary-background-color);
        }

            
       

        

    
    }
}





