// profile photo and name

.profilephoto {

    img {
        height: 266.67px;
        width: 200px;
        border-radius: 20px;
        margin-top: 10px;
    }

    display: flex;
    justify-content: center;
   


    
}

.profilename {
    
    font-family: var(--font-family);
    color: var(--primary-font-color);
    font-size: 12px;
    display: flex;
    justify-content: center;
    
    
    
}